<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>NAME</key>
		<string></string>
		<key>ADDRESS</key>
		<dict>
			<key>STREET</key>
			<string></string>
			<key>CITY</key>
			<string></string>
			<key>STATE</key>
			<string></string>
		</dict>
		<key>SIGN</key>
		<string>CAP</string>
		<key>PROBABILITY</key>
		<string>0.75</string>
		<key>FRIENDS</key>
		<array>
			<false/>
			<integer>0</integer>
			<string></string>
			<integer>0</integer>
			<dict>
				<key>STREET</key>
				<string></string>
				<key>CITY</key>
				<string></string>
				<key>STATE</key>
				<string></string>
			</dict>
			<array/>
			<string>CAP</string>
		</array>
	</dict>
	<dict>
		<key>NAME</key>
		<string></string>
		<key>ADDRESS</key>
		<dict>
			<key>STREET</key>
			<string></string>
			<key>CITY</key>
			<string></string>
			<key>STATE</key>
			<string></string>
		</dict>
		<key>SIGN</key>
		<string>CAP</string>
		<key>PROBABILITY</key>
		<string>0.75</string>
		<key>FRIENDS</key>
		<array>
			<false/>
			<integer>0</integer>
			<string></string>
			<integer>0</integer>
			<dict>
				<key>STREET</key>
				<string></string>
				<key>CITY</key>
				<string></string>
				<key>STATE</key>
				<string></string>
			</dict>
			<array/>
			<string>CAP</string>
		</array>
	</dict>
	<string>0</string>
	<string>1</string>
	<string>2</string>
	<string>3</string>
</array>
</plist>
